body {
	margin:0px;
	padding:0px;
}
* {
	font-family: sans-serif;
	box-sizing:border-box;
	letter-spacing: 1px;
	flex-wrap:wrap;
	word-wrap: break-word;
}
.cursor {
	cursor:pointer;
}
.text-decoration {
	text-decoration:none;
}
.nav-bar {
	padding: 0.5rem 1rem;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
	position: sticky;
    top: 0;
    z-index: 3;
}
.container {
	max-width: 1800px;
    margin: 0 auto;
	display:flex;
	align-items: center;
	padding: 0 2rem;
	margin-top: -4px;
}
.navbar-content {
	width: 75%;
}
.font-size {
	font-size: 2rem;
}
.font-weight {
	font-weight: 700;
}
.dropdown-padding {
	padding:0px;
}
.style-type {
	list-style-type:none;
}
.display1 {
	display:flex;
	justify-content: center;
}
.navbar-brand {
	width: 16%;
}
.navbar {
	display:none;
	font-size: 28px;
}
.color {
	color:black;
}
.font {
	font-size: 1.1rem;
    line-height: 2;
    font-weight: 500;
	padding: 0 0.3em;
    margin: 0.2em 1em;
}
.overline {
   display: inline-block;
    position: relative;
}
.overline:before{
	content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background: black;
    height: 1px;
    transition-duration: 0.3s;
}
.overline:hover:before {
    right: 0;
}
.toggle::after {
	margin-left: 0.5rem;
	border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
	display: inline-block;
    vertical-align: 3px;
    content: "";
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 202px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
 height: 153px;
    line-height: 41px;
}
.font:hover {
	color: #4d4d4d !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.menu2 {
	width: 379px;
    height: 214px;
    line-height: 47px;
}
.dropdown-button {
	display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
   background-color: #1450A3;
    transition-duration: 0.3s;
	border:none;
	top: 2px;
    width: 112px;
    height: 50px;
}
.dropdown-button:before {
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-color: #5758e0 !important;
    border-color: #5758e0 !important;
    transition-duration: 0.3s;
}
.dropdown-button:hover:before {
	transform: scaleX(0);
}
.button {
	color: white;
}
.position1 {
	z-index: 0;
    position: relative;
	padding-top: 195px;
    padding-bottom: 195px;
	background-color: #eeeeee;
	height: 671.378px;
}
.opacity {
	background-color: rgb(0, 0, 0);
    opacity: 0.4;
    bottom: 0;
    left: 0;
	position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.container1 {
	text-align: left;
	position: relative;
	padding: 0 2rem;
	max-width: 1200px;
	width: 100%;
	margin-right: auto;
    margin-left: auto;
}
.row {
	margin-right: -15px;
    margin-left: -15px;
}
.content {
	color: #ffffff;
    max-width: 66.66%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mbr-white {
	font-size: 3.5rem;
    line-height: 1.5;
	padding-bottom: 1.5rem;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.mbr-fonts-style  {
	color: #e5e5e5;
	font-size: 1.1rem;
    line-height: 2;
	font-weight: 400;
	padding-bottom: 3rem;
	margin-top: 0;
    margin-bottom: 1rem;
}
.link-align {
	color: #e5e5e5;
	width: 100%;
	line-height: 1.5;
    font-weight: 300;
}
.link-wrap {
	display: inline-block;
}
.mbr-semibold {
	position: relative;
    cursor: pointer;
    width: fit-content;
    font-size: 0.9rem;
    line-height: 1.8;
    margin-left: 80px;
    color: #ffffff;
	width: fit-content;
    letter-spacing: 1px;
	font-weight: 500;
}
.link:before {
	content: '';
    position: absolute;
    height: 1px;
    width: 0;
    transition: all 0.4s ease-in-out;
    background-color: currentColor;
    top: 45%;
    transform: translateY(-45%);
    left: -80px;
}
.link:after {
	content: '';
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: currentColor;
    top: 45%;
    transform: translateY(-45%);
    opacity: 0.8;
    left: -80px;
}
.link:hover:before {
	width:60px;
}
.jarallax-container-0 {
	position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -100;
	clip: rect(0,  7421px, 752.296875px, 0);
}
.position2 {
	position:fixed;
	width:100%;
	background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/background.jpg");
    top: 0px;
    left: 0px;
   /* height: 1023.378px; */
   height: 767.378px;
    overflow: hidden;
	margin-top: -82.6891px;
    transform: translate3d(0px, 72.0891px, 0px);
}
.features1 {
	padding-top: 90px;
    padding-bottom: 75px;
    background-color: #f3f3f3;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.container2 {
	padding: 0 2rem;
	max-width: 1200px;
	width: 100%;
	margin:0 auto;
}
.justify-content-center {
	text-align: center;
	display:flex;
	justify-content:center;
	align-items:center;
}
.col-12 {
	padding-bottom: 3rem!important;
	max-width: 50%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.main-title{
	font-size: 2.4rem;
    line-height: 1.3;
	font-weight: 600;
	text-align: center;
	color: #111111;
	padding-bottom: 1rem!important;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.main-subtitle {
	color: #999999;
	font-size: 1.1rem;
    line-height: 2;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.card {
	background-color: transparent;
    border: none;
	max-width: 33.333333%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	background-clip: border-box;
}
.card-wrapper {
	background-color: #ffffff;
    padding: 1rem;
    transition: all 0.3s;
}
.card-box {
	border: 1px solid transparent;
    padding: 2rem 1rem;
    transition: all 0.3s;
	width: 100%;
}
.mbr-iconfont {
	font-size: 4rem;
    color: #5758e0;
    min-width: 100px;
    margin-bottom: 2rem;
    display: block;
    background: -webkit-linear-gradient(#5758e0, #f77991);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-title {
	position: relative;
    cursor: pointer;
    color: #000000;
	font-size: 1.1rem;
    line-height: 2;
	font-weight: 500;
	margin-bottom: 0.75rem;
	margin-top: 0;
}
.card-text {
	color: #999999;
    text-align: center;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 400;
	margin-top: 0;
    margin-bottom: 1rem;
}
.text-wraping {
	color: #999999;
    letter-spacing: 1px;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 400;
	padding-top: 0.25rem!important;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.card-wrapper:hover {
	box-shadow: 0 30px 30px -20px rgba(50, 50, 50, 0.3);
}
.card:hover .card-box {
	border: 1px solid #f3f3f3;
}
.features2 {
	padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
	position:relative;
}
.display3 {
	display:flex;
}
.container-photo {
	margin:0 auto;
}
.image-hover {
	position: relative;
  width: 50%;
}
.image {
	display:block;
	width:100%;
	height:auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6610f2;
}

.image-hover:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.fonts-style {
	font-size: 0.9rem;
    line-height: 1.8;
	letter-spacing: 0.1rem;
	font-weight: 600;
	margin-top: 0;
}
.mbr-fonts-style1 {
	font-size: 2.4rem;
    line-height: 1.3;
	font-weight: 500;
	margin-bottom: 0.75rem;
	margin-top: 0;
}
.overlay1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#fd7e14;
}

.image-hover:hover .overlay1 {
  opacity: 1;
}
.features5 {
	padding-top: 75px;
	padding-bottom:75px;
    background-color: #ffffff;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.container3 {
	position: relative;
	padding: 0 2rem;
	max-width: 1200px;
	width: 100%;
	Margin-right: auto;
    margin-left: auto;
}
.card1 {
	max-width:25%;
	padding-right: 15px;
    padding-left: 15px;
}
.card-wrapper1 {
	background-color: #ffffff;
    padding: 1rem;
    transition: all 0.3s;
}
.mobi-icon1:before {
	content:url("../img/light.png");
}
.mobi-icon1 {
	padding-bottom: 2rem;
}
.align {
	text-align:left;
	font-size: 1.4rem;
    line-height: 1.3;
	font-weight: 500;
	margin-bottom: 0.75rem;
	margin-top: 0;
}
.card-text1 {
	color: #999999;
	margin-bottom: 0;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 400;
	padding-top: 0.25rem!important;
}
.display {
	display: flex;
    justify-content: center;
	text-align: left;
    margin-right: -15px;
    margin-left: -15px;
}
.mobi {
	padding-bottom: 2rem;
	display:block;
}
.mobi-icon2:before {
	content:url("../img/note1.png");
}
.mobi-icon3:before {
	content:url("../img/setting1.png");
}
.mobi-icon4:before {
	content:url("../img/fingure1.png");
}
.video2 {
	z-index: 0;
	padding-top: 60px;
    padding-bottom: 90px;
    background-color: #f3f3f3;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.row1 {
    margin-left: -15px;
	margin-left: -15px;
	text-align: center;
	width: 1200px;
}
.mbr-black {
	max-width: 100%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mbr-section-title {
	color: #111111;
	font-size: 3.5rem;
    line-height: 1.5;
	font-weight: 600;
	text-align: center;
	padding-bottom: 3rem;
	margin-top: 0;
    margin-bottom: 0.5rem
}
.video {
	color: #ffffff;
	max-width: 100%;
   position: relative;
    width: 100%;
	padding-right: 15px;
    padding-left: 15px;
}
.mbr-white1 {
	overflow: hidden;
    position: relative;
}
.box1 {
	height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}
.box1:before {
	background-image:url("../img/img4.jpg");
	background-size: cover;
    background-position: center;
    position: absolute;
    content: '';
    width: 100%;
    transition: all 2s;
    height: 100%;
    left: 0;
}
.box1:hover:before {
	transform: scale(1.1);
}
.show-modal {
	z-index: 2;
	text-align: center;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	position:absolute
}
.icon-wrap {
	border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    background: #ffffff;
    width: 100px;
    height: 100px;
}
.mobi-mbri {
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.25s;
    color: #000000 !important;
}
.mobi-mbri:before {
	content:url("../img/pause2.png");
}
.pricing1 {
	padding-top: 60px;
    padding-bottom: 60px;
    background-color: #5758e0;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.box {
	width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
}
.row2 {
	box-shadow: 0px 65px 40px -40px rgba(51, 51, 51, 0.06);
	margin-right: -15px;
    margin-left: -15px;
	height: 525px;
}
.col-md-12 {
	max-width: 100%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.main-title1 {
	color: #ffffff;
	font-size: 2.4rem;
    line-height: 1.3;
	font-weight: 500;
	text-align: center;
	padding-bottom: 3rem!important;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.card2 {
	padding:0;
	background-color: transparent;
    border: none;
	max-width: 33.333333%;
	position: relative;
    width: 100%;
}
.card-wrapper2 {
	background-color: #ffffff;
	padding: 4rem;
}
.card-box1 {
	width: 100%;
	text-align: center;
}
.card-1subtitle {
	color: #000000;
	font-size: 1.4rem;
    line-height: 1.3;
	font-weight: 400;
}
.mbr-usd  {
	vertical-align: top;
    display: inline-block;
    padding-top: 20px!important;
    color: #5758e0;
	font-size: 1.4rem;
    line-height: 1.3;
	font-weight: 500;
	text-align: center;
}
.mbr-price {
	color: #5758e0;
	font-size: 3.5rem;
    line-height: 1.5;
	font-weight: 500;
	padding-bottom: 1.5rem!important;
}
.month  {
	color: #999999;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 500;
	padding-bottom: 1.5rem!important;
	text-align: center;
}
.mbr-text  {
	color: #999999;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 400;
	padding-top: 1.5rem!important;
	margin-top: 0;
    margin-bottom: 1rem;
	padding-bottom: 0.5rem!important;
}
.display4 {
	display:flex;
	justify-content:center;
	height: 419px;
}
.mbr-section-btn {
	margin-left: -0.25rem;
    margin-right: -0.25rem;
    font-size: 0;
}
.btn-md  {
	display: inline-block;
	 background-color: #f3f3f3 !important;
    border-color: #f3f3f3 !important;
    color: #737373 !important;
	padding: 1rem 2.6rem;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 600;
	transition: all .3s ease-in-out;
	border-width: 2px;
	margin: 0.4rem 0.4rem;
	letter-spacing: 1px;
	border: 1px solid transparent;
	text-decoration:none;
}
.btn-md:hover {
	background-color: #5758e0 !important;
    border-color: #5758e0 !important;
	color: white!important;
}
.team2 {
	padding-top: 60px;
    padding-bottom: 30px;
    background-color: #ffffff;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.col-lg-6 {
	max-width: 50%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mbr-mainsubtitle {
	color: #000000;
	font-size: 2.4rem;
    line-height: 1.3;
	font-weight: 500;
	text-align: center;
	padding-bottom: 0.5rem!important;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.mbr-black1 {
	color: #999999;
	font-size: 1.1rem;
    line-height: 2;
	padding-bottom: 1.5rem!important;
	text-align: center;
	margin-top: 0;
    margin-bottom: 0.5rem;
	font-weight: 100;
}
.p-3 {
	background-color: transparent;
    border: none;
	padding: 1rem!important;
	max-width: 25%;
	position: relative;
    width: 100%;
	border-radius: 0.25rem;
}
.img-wrapper {
	overflow: hidden;
    transition: all 0.3s;
    position: relative;
    margin-bottom: 1.5rem;
}
.img-wrapper:before {
	position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(#5758e0, #cc2952);
    opacity: 0;
    transition: all 0.3s;
    content: '';
    pointer-events: none;
    z-index: 1;
}
.img-icon {
	width: 100%;
    transition: all 0.6s ease-in-out;
	vertical-align: middle;
}
.text-wrap {
	position: absolute;
    opacity: 0;
    transition: all 0.3s;
    right: 0;
    padding: 2rem;
    padding-top: 1.5rem;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.icon-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.3s;
    z-index: 4;
    margin-left: 1.5rem;
}
.icon-twitter,.icon-instagram,.icon-youtube {
	display: inline-block;
    color: #ffffff;
    transition: all 0.3s;
    font-size: 1.2rem;
}
.card-box2 {position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    opacity: 0;
    padding: 1.5rem;
    padding-bottom: 1rem;
    z-index: 2;
	width:100%;
}
.card-title1 {
	margin: 0;
    padding-bottom: 0.2rem;
    color: #ffffff;
	font-size: 1.4rem;
    line-height: 1.3;
	font-weight: 400;
}
.mbr-subtitle {
	color: #cccccc;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 500;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.p-3:hover .img-wrapper:before {
	opacity:0.8;
}
.p-3:hover .img-icon {
	transform: scale(1.06);
}
.p-3:hover .text-wrap {
	opacity:1;
}
.p-3:hover .card-box2 {
	opacity:1;
}
.accordion1 {
	padding-top: 0px;
    padding-bottom: 75px;
    position: relative;
    background-color: #ffffff;background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.m-auto {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	max-width: 50%;
}
.face1 {
	width: 90%;
    box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
}
.col-lg-6 {
	max-width: 50%;
	margin-top: 68px;
}
.mbr-section-title1 {
	color: #000000;
	font-size: 2.4rem;
    line-height: 1.3; 
	font-weight: 600;
	padding-bottom: 1.5rem!important;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.accordion {
	color: #000000;
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 0rem;
	font-size: 1.1rem;
    line-height: 2;
	margin-bottom: 0.5rem;
	font-weight: 400;
}
.panel {
	color: #767676;
   padding-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.card3 {
	margin-bottom: -1px;
	background-color: transparent;
    border: none;
	position: relative;
}
.card-header {
	padding: 0;
	margin-bottom: -1px;
	background: transparent;
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.accordian-text {
	color: #555555;
	font-size: 0.9rem;
    line-height: 1.8;
	margin-top: 0;
    margin-bottom: 1rem;
}
.plus-icon {
	font-size: 1rem!important;
	padding-right: 1rem;
}
.feature4 {
	padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f3f3f3;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.container5 {
	max-width:981px;
	margin:0 auto;
}
.slick-prev {
	display:none!important;
}
.slick-next {
	display:none!important;
}
.slick-dots {
	display:none!important;
}
.col-lg-10 {
	text-align: center;
	color: #111111;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	max-width: 83.333333%;
}
.img-radius {
	width: 120px;
    border-radius: 100%;
    object-fit: cover;
    height: 120px;
    margin-bottom: 2rem!important;
	margin:0 auto;
}
.mbr-text1 {
	line-height: 1.8;
	color: #232323;
	font-size: 1.4rem;
	font-weight: 400;
	padding-bottom: 1.5rem!important;
	margin-top: 0;
    margin-bottom: 1rem;
}
.mbr-section-subtitle {
	line-height: 1.8;
	color: #232323;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.mbr-section-title2 {
	color: #999999;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 600;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.form {
	padding-top: 75px;
    padding-bottom: 75px;
    background-color: #232323;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; 	
	position: relative;
}
.mbr-form {
	margin: auto!important;
	max-width: 66.666667%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.title {
	color: #ffffff;
    text-align: center;
	font-size: 2.4rem;
    line-height: 1.3;
	font-weight: 600;
	padding-bottom: 1rem!important;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.mbr-regular {
	max-width: 500px;
    color: #999999;
    text-align: center;
    margin: auto;font-size: 1.1rem;
    line-height: 2;
	font-weight: 400;
	padding-bottom: 3rem!important;
}
.form-row {
	display: flex;
	margin-right: -5px;
    margin-left: -5px;
}
.form-group {
	padding: 0;
	max-width: 100%;
	margin-bottom: 1rem;
	flex-grow: 1;
    max-width: 100%;
    position: relative;
}
input[type=email]:focus {
	outline:none;
}
.form-control {
	padding: 1rem;
	line-height: 2;
	border: 1px solid #e8e8e8;
	background-color: #f5f5f5;
	min-height: 3.5em;
    font-size: 1rem!important;
	display: block;
	height: 100%;
	font-weight: 400;
	width:100%;
}
.col-auto {
	width: auto;
    max-width: 100%;
	position: relative;
	margin-top:0px;
}
.btn-warning {
	height: 56px;
	border: none;
	margin: 0!important;
    padding: 10px 40px;
	background-color: #808080 !important;
    color: #ffffff !important;
	font-size: 0.9rem;
	line-height: 1.8;
	font-weight: 600;
	letter-spacing: 1px;
}
.btn-warning:hover {
	background-color: #5758e0 !important;
    border-color: #5758e0 !important;
}
.socicon-wrap {
	width: fit-content;
    display: flex;
    padding-top: 2rem;
    margin: auto;
}
.socicon {
	font-size: 1.4rem;
    color: #ffffff !important;
    padding: 12px;
    margin: 0 0.3rem;
    height: 40px;
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    border-radius: 100%;
	
}
.socicon:hover {
	color: #5758e0 !important;
}
.map1 {
	background-color: #eeeeee;
	position: relative;
	display:block;
}
.google-map {
	height: 30rem;
}
iframe {
	border: 0;
	height: 100%;
    width: 100%;
}
.footer {
	padding-top: 105px;
    padding-bottom: 105px;
    background-color: #232323;
	position: relative;
}
.container4 {
	max-width: 1400px;
	padding: 0 2rem;
	width: 100%;
	margin:0 auto;
}
.row1 {
	text-align: left!important;
}
.col-md-6 {
	max-width: 41.666667%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-title {
	color: #ffffff;
	font-size: 2.4rem;
    line-height: 1.3;
	font-weight: 600;
	padding-bottom: 3rem!important;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
.mbr-regular1 {
	color: #999999;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 400;
	margin-top: 0;
    margin-bottom: 1rem;
}
.wrap1 {
	margin-bottom: 0.8rem;
	padding-top: 3rem!important;
	padding-bottom: 1rem!important;
	display:flex;
}
.socicon {
	display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.title1 {
	font-size: 1.4rem!important;
	font-weight: 600!important;
	padding-bottom: 1.5rem!important;
}
.icons-wrap {
	padding-bottom: 0.5rem!important;
	
}
.wrap3:hover {
	color:white;
}
.wrap2 {
	transition: all 0.3s;
	color: #999999;
    width: 100%;
	margin: 0;
   padding-bottom: 10px;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 400;
	list-style-type:none;
}
.col-md-7 {
	max-width: 16.666667%;position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.icons-wrap1 {
	padding: 0;
    margin: 0;
}
.icon-title {
	transition: all 0.3s;
	color: #999999;
    width: 100%;
	margin: 0;
    padding-bottom: 3px;
	font-size: 0.9rem;
    line-height: 1.8;
	font-weight: 400;
}
.col-lg-3 {
	max-width: 25%;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
}
.btn-primary {
	display: inline-block;
	margin: 0!important;
	height: 56.5px;
    padding: 10px 20px;
	background-color: #5758e0 !important;
    border-color: #5758e0 !important;
    color: #ffffff !important;
}
.arrow-next {
	font-size: 1rem;
    margin: 0;
	display: inline-block;
	padding: 10px;
}
.icon-title1 {
	padding-top:1rem;
	margin-top: 0;
    margin-bottom: 1rem;
}
